.heading-youtube {
	text-align: right;
	color: red;
}

.form-sort {
	text-align: left;
	margin-bottom: 10px;
	border: black;
}

.button1-click {
	background-color: white;
	 -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
	border-radius: 8px;
	margin-left: 20px;
	margin-right: 25px;
	padding-left: 40px;
	padding-right: 40px;
}


.button1-click:hover{
	background-color: #98FB98; /* Green */
}
.button2-click:hover{
	background-color: #98FB98; /* Green */
}
.button1-clicl:click{
	background-color: #98FB98;
}

.button2-click {
	background-color: white;
	border-radius: 8px;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.search-bar{
	margin: 30px;
	text-align: left;
}

.search-bar input{
	width: 50%;
}

.video-item img{
	max-width: 128px;
	
}

.video-detail .details{
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}